body {
    text-align: center; 
    margin: 0; 
}

#wrapper {
    height: 400px;
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(55,112,89,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(55,112,89,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(55,112,89,1) 100%);/* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(55,112,89,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(55,112,89,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(55,112,89,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#377059', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */
    max-height: 100%;
    background-repeat: no-repeat;
}

h1 {
    position: relative;
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2, h3{
    position: relative;
    font-family: Monoton;  
}

h4, form, input, #tip{
    position: relative;
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
    font-weight: bold;
}

input {
    border-radius: 5px;
}

h2{
    margin: 1em 0 0.25em;
}

h3 {
    margin-top: 12px;
    margin-bottom: 6px;
}

h4 {
    margin-top: 0;
}

h2:first-of-type {
    margin-top: 0.5em;    
}

table,
tr,
td {
    border: 1px solid black;
    background-color: #fff;
    cursor: url(resources/1.cur), auto;');
}

table {
    position: relative;
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 2em;
    text-align: center;
}
